*{
    margin: 0;
    padding: 0;
}

.heading{
    text-align: center;
}

#container{
    margin: 25px;
    padding: 10px;
    height: 600px;
    width: 1000px;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    justify-content: space-around;
}

.box{
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 1px solid gold;
}

#box1{
    background-color: blue;
}

#box2{
    background-color: green;
}

#box3{
    background-color: pink;
}

#box4{
    background-color: red;
}