.box{
    height: 100px;
    width: 100px;
    position: relative;
    top: 200px;
    left: 10px;
    background-color: plum;
    border: 2px solid black;
    border-radius: 5px;
    animation-name: fly;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

/* @keyframes fly{
    from{left:10px}
    to{left:1000px}
} */

@keyframes fly{
    0%{left:10px}
    50%{top: 500px;}
    75%{left:1000px}
    100%{top:10px}
}