.box{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    background-color: cadetblue;
    border-radius: 5px;
    position: relative;
    top: 100px;
    left: 100px;
    transition: all 0.5s ease-in-out ;
}

/* .box:hover{
    transform: rotate(45deg);
} */

/* .box:hover{
    transform: scale(4);
} */

/* .box:hover{
    transform: translate(50px);
} */

.box:hover{
    transform: skew(90deg);
}