* {
  margin: 0;
  padding: 0;
}

.box {
  height: 100px;
  width: 100px;
  color: aliceblue;
}

#padd {
  background-color: blue;
  padding: 10px 10px 10px 10px;
  border: 5px solid greenyellow;
}

#mar {
  background-color: brown;
  margin: 25px 10px 10px 10px;
  border: 5px dotted wheat;
  border-radius: 30px;
}


#bor{
    background-color: chocolate;
    border: 5px black ;
    border-radius:10px 10px 90px 10px;
    margin-left: 20px;
}