* {
  margin: 0;
  padding: 0;
}

.heading {
  text-align: center;
}

#container {
  margin: 20px;
  padding: 10px;
  height: 300px;
  width: 1000px;
  border: 3px solid black;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  /* justify-content: space-evenly; */
  /* justify-content: space-around; */
  /* flex-wrap: wrap; */
  /* align-items: start; */
  /* align-content: start; */
}

.box {
  height: 100px;
  width: 100px;
  margin: 10px;
  border: 1px solid gold;
}

#box1 {
  background-color: blue;
}

#box2 {
  background-color: green;
  /* align-self:center; */
  order: 5;
}

#box3 {
  background-color: pink;
  /* flex-shrink: 4; */
  flex-grow: 1;
  order: 4;
}

#box4 {
  background-color: red;
  order: 3;
}

#box5 {
  background-color: rebeccapurple;
  order: 2;
}

/*#box6 {
  background-color: wheat;
}

#box7 {
  background-color: teal;
}

#box8 {
  background-color: tomato;
}

#box9 {
  background-color: yellow;
}

#box10 {
  background-color: indigo;
}

#box11 {
  background-color: olive;
}

#box12 {
  background-color: purple;
} */
