* {
  margin: 0;
  padding: 0;
}

#header {
  height: 20vh;
  width: 100vw;
  background-color: aqua;
}

/* #menu {
  text-decoration: none;
} */

#main {
  height: 70vh;
  width: 100vw;
  background-color: blueviolet;
}

/* #aside{
    left: 80vw;
    height: 70vh;
    width: 20vw;
    background-color: chartreuse;
} */

#footer {
  height: 10vh;
  width: 100vw;
  background-color: darkgoldenrod;
}
#home {
  text-decoration: none;
  color: black;
  margin: 10px;
}
#about {
  text-decoration: none;
  color: black;
  margin: 10px;
}
#contact {
  text-decoration: none;
  color: black;
  margin: 10px;
}
#product {
  text-decoration: none;
  color: black;
  margin: 10px;
}

#div1 {
  width: 50px;
  height: 50px;
  background-color: green;
  border: 2px solid black;
  border-radius: 50%;
}

#div2 {
  height: 100px;
  margin-top: 10px;
  width: 100px;
  background-color: antiquewhite;
  display: inline-block;
}
#div3 {
  margin-top: 10px;
  height: 100px;
  width: 100px;
  background-color: yellow;
  display: inline-block;
  z-index: 2;
  position: absolute;
  left: 20px;
}
#div4 {
  margin-top: 10px;
  height: 100px;
  width: 100px;
  background-color: gray;
  display: inline-block;
}

#div5 {
  height: 100px;
  width: 100px;
  margin-top: 10px;
  background-color: yellow;
  position: fixed;
  right: 10px;
}
