* {
  margin: 0;
  padding: 0;
}

.nav {
  height: 50px;
  width: 100vw;
  background-color: lightpink;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.nav a {
  text-decoration: none;
  padding-top: 10px;
  font-weight: 600;
  color: black;
}

.pic {
  height: 500px;
  width: 500px;
  border: 1px solid black;
  justify-content: center;
  display: flex;
  /* align-items: center; */
}

.container {
  height: 500px;
  width: 500px;
  border: 2px solid red;
  margin: 25px;
  padding: 25px;
  display: flex;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid gold;
  margin: 5px;
  padding: 5px;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: yellowgreen;
  flex-shrink: 0;
  flex-grow: 0;
}

.box3 {
  background-color: palevioletred;
}

.item {
  height: 50px;
  width: 50px;
  background-color: green;
  margin: 50px;
}

@media screen and (min-width: 300px) and (max-width: 400px) {
  .item {
    background-color: red;
  }
}

@media screen and (min-width: 400px) {
  .item {
    background-color: blue;
  }
}