* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
}

#container {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#item1 {
  height: 20%;
  width: 20%;
  background-color: antiquewhite;
  border: 1px solid white;
}
#item2 {
  height: 20%;
  width: 20%;
  background-color: greenyellow;
  border: 1px solid white;
}
#item3 {
  height: 20%;
  width: 20%;
  background-color: lightsalmon;
  border: 1px solid white;
}
#item4 {
  height: 20%;
  width: 20%;
  background-color: yellow;
  border: 1px solid white;
}
