:root {
  --gray: #212121;
  --green: #009660;
  --white: #e9e9e9;
  --black: #0c0c0c;
  --lgray: #929292;
}

@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@font-face {
  font-family: neue;
  src: url(./Font/NeueMachina-Regular_DQCmjH1st.ttf);
}

@font-face {
  font-family: helvatica;
  src: url(./Font/HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: var(--white);
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--black);
}

.green {
  color: var(--green);
}

.lgray {
  color: var(--lgray);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 70px;
  position: fixed;
  width: 100%;
}

#nav1 {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  font-family: helvatica;
}

#nav1 img {
  height: 45px;
}

#nav h4 {
  font-family: helvatica;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 100;
}

#nav2 {
  display: flex;
  align-items: center;
  gap: 60px;
}

#nav2 a {
  text-decoration: none;
  /* font-family: monospace; */
  /* font-family: "Comic Neue", cursive; */
  font-family: helvetica;
  font-size: 16px;
  font-weight: 100;
}

nav a i {
  font-size: 20px;
}

#nav2 img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

#nav3 {
  display: none;
  align-items: center;
  gap: 30px;
}

#nav3 a {
  text-decoration: none;
  /* font-family: monospace; */
  /* font-family: "Comic Neue", cursive; */
  font-family: helvetica;
  font-size: 16px;
  font-weight: 100;
}

#nav3 img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

@media (max-width: 600px) {
  nav {
    padding: 10px 30px;
  }

  #nav1 h4 {
    font-size: 12px;
  }

  #nav1 img {
    height: 30px;
  }

  #nav2 {
    display: none;
  }

  #nav3 {
    display: flex;
  }
}

main {
  padding: 100px;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 70px;
  font-family: helvatica;
}

.section1 .left {
  width: 42%;
}

.section1 .left h1 {
  font-size: 25px;
}

.section1 .left .tags h4 {
  padding: 10px 20px;
  border-radius: 4px;
  white-space: nowrap;
  background-color: var(--gray);
}
.section1 .left .tags {
  display: flex;
  align-items: center;
  gap: 5px 5px;
  flex-wrap: wrap;
  margin: 30px 0;
}

.left .price {
  font-size: 35px;
}

.left .price .section1 .right {
  width: 45%;
}

.left .price .lgray {
  font-size: 20px;
  font-weight: 800;
}

.section1 .right {
  width: 45%;
}

.section1 .right .right-in {
  width: 600px;
  border-radius: 5px;
  overflow: hidden;
}

.section1 .right .right-in .image {
  width: 100%;
}

.section1 .right .right-in .image img {
  width: 100%;
}

.section1 .right .right-in  .image-btm {
  padding: 20px;
  padding-top: 40;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--gray);
}

.right-in .image-btm h4 {
  background-color: #151515;
  width: 45%;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
}
